{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "alias": {
                    "@app": "./src/react/app",
                    "@components": "./src/react/components",
                    "@electron": "./src/electron",
                    "@utils": "./src/utils"
                }
            },
            "@babel/plugin-syntax-dynamic-import"
        ]
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ]
}
